.card-container{
    /* background-color: #000000; */
    font-size: 22.624px;
    margin: 3vw 0;
    white-space: nowrap;
    padding: 0;
}

.card-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 80px;
    margin-bottom: -80px;
}

.card-wrapper::-webkit-scrollbar{
    display: none;
}

.card-container .card-wrapper h2{
    color: #e5e5e5;
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 0 .5em;
    min-width: 6em;
    text-decoration: none;
    position: sticky; /* Optional if you want it to "stick" on scroll */
}


.card-list{
    display: flex;
    overflow-x: visible;
    overflow-y: visible;
    position: relative;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list .card-image{
    border-radius: 2px;
    cursor: pointer;
    height: 16.5vw;
}

.card-list .card{
    display: inline-block; /* Inline-block for horizontal stacking in block layout, for smoother stacking or constrain scaling */
    position: relative;
    height: 16.5vw;
    transition: transform 0.54s ease, box-shadow 0.54s ease;
    margin-right: 0.75rem;
    flex-shrink: 0;
}

.card-list .card:last-child{
    margin-right: 20px;
}

.card-list .card:hover{
    transform: scale(1.1); /* Zoom effect */
    z-index: 10;
}

.card-list .card .card-title{
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-size: 14px;
    width: 100%;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
    font-size: 1vw;
}

.card-list .card .card-title:hover{
    position: relative;
    top: 100px;
}

/* To hide other elements on hover, position hover-details over the card */
.hover-details {
    position: absolute; /* Overlay on top of the card */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Start hidden */
    transform: scale(1.1); /* Start zoomed-out */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: white; /* For hover content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

/* Show and scale hover details over the original card */
.card:hover .hover-details {
    opacity: 1; /* Make the hover details visible */
    transform: scale(1.1); /* Cover the card completely */
    border-radius: 6px 6px 0px 0px;
}

.hover-details h6, 
.hover-details p {
    margin: 5px 0;
    text-align: center;
    white-space: wrap;
    overflow: visible;
}

.hover-details button {
    margin-top: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-details button:hover {
    background-color: #f40612; 
}


.hover-content{
    width: 100%;
    background-color: white;
}

@media (min-width: 1500px) {
    .container .container-title{
        margin-left: 0;
    }
}

@media (min-width: 1500px) {

}

@media (min-width: 1281px) {
    .card-list{
        height: 24vw;
    }
    .card-list .card-image {
        width: 16vw;
        height: 24vw;
    }
}

@media (min-width: 800px) and (max-width: 1280px) {
    .card-list{
        height: 24vw;
    }
    .card-list .card-image {
        width: 16vw;
        height: 24vw;
    }
}
    
@media (min-width: 500px) and (max-width: 799px) {
    .card-container .card-wrapper h2{
        font-size: 12px;
    }
    .card-list{
        height: 30vw;
    }
    .card-list .card-image {
        width: 20vw;
        height: 30vw;
    }
}

@media (max-width: 499px) {
    .card-container .card-wrapper h2{
        font-size: 12px;
    }
    .card-list{
        height: 30vw;
    }
    .card-list .card-image {
        width: 20vw;
        height: 30vw;
    }
}