.footer{
    padding: 0 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-icons{
    display: inline-block;
    margin: 0 0 3rem;
}
.footer-icons img{
    width: 3rem;
    cursor: pointer;
    margin: 0 1rem 0 0;
}
.footer ul{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 14px;
    padding: 0;
}
.footer ul li{
    box-sizing: border-box;
    flex: 0 0 50%;
    list-style-type: none;
    margin-bottom: 16px;
    padding-right: 22px;
    font-size: 13px;
}
.copyright-text{
    color: gray;
    font-size: 14px;
    padding-bottom: 20px;
}

@media (min-width:800px) {
    .footer ul li{
        flex: 0 0 25%;
    }
}


@media (max-width:799px) {
    .footer ul li{
        flex: 0 0 50%;
    }
}


/* 

@media (min-width: 1281px) {
    .footer{
        padding: clamp(1px, calc(5px + (20 * ((100vw - 375px) / 649))), 30px) 4% 30px 4%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer-icons{
        display: flex;
        gap: 20px;
    }
    .footer-icons img{
        width: clamp(18px, calc(1px + (29 * ((100vw - 375px) / 649))), 30px);
        cursor: pointer;
    }
    .footer ul{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        margin: 0 0 14px;
        padding: 0;
    }
    .copyright-text{
        color: gray;
        font-size: 14px;
    }
}

@media (min-width: 800px) and (max-width: 1280px) {
    .footer{
        padding: clamp(1px, calc(5px + (20 * ((100vw - 375px) / 649))), 30px) 4% 30px 4%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer-icons{
        display: flex;
        gap: 20px;
    }
    .footer-icons img{
        width: clamp(18px, calc(1px + (29 * ((100vw - 375px) / 649))), 30px);
        cursor: pointer;
    }
    .footer ul{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        margin: 0 0 14px;
        padding: 0;
    }
    .copyright-text{
        color: gray;
        font-size: 14px;
    }
}
    
@media (min-width: 500px) and (max-width: 799px) {
    .footer{
        padding: clamp(1px, calc(5px + (20 * ((100vw - 375px) / 649))), 30px) 4% 30px 4%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer-icons{
        display: flex;
        gap: 20px;
    }
    .footer-icons img{
        width: clamp(18px, calc(1px + (29 * ((100vw - 375px) / 649))), 30px);
        cursor: pointer;
    }
    .footer ul{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        margin: 0 0 14px;
        padding: 0;
    }
    .copyright-text{
        color: gray;
        font-size: 14px;
    }
}

@media (max-width: 499px) {
    .footer{
        padding: clamp(1px, calc(5px + (20 * ((100vw - 375px) / 649))), 30px) 4% 30px 4%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer-icons{
        display: flex;
        gap: 20px;
    }
    .footer-icons img{
        width: clamp(18px, calc(1px + (29 * ((100vw - 375px) / 649))), 30px);
        cursor: pointer;
    }
    .footer ul{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        margin: 0 0 14px;
        padding: 0;
    }
    .copyright-text{
        color: gray;
        font-size: 14px;
    }
} */